#festival {
    margin-top: 30px;
    background-color: white;
    padding: 10px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    min-width: 1000px;
}

#festival-years {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    min-width: 1000px;
}

#hero-image {
    width: 100%;
}

#festival-title {
    color: white;
    text-shadow: -1.3px 1.3px 0 #000, 1.3px 1.3px 0 #000, 1.3px -1.3px 0 #000, -1.3px -1.3px 0 #000;
    text-transform: uppercase;
}

#festival-title a {
    text-decoration: underline !important;
    transition-property: all;
    transition-duration: 0.2s;
    transition-delay: 0s;
    color: black;
}

#festival-title a:hover {
    color: white;
    text-decoration: none !important;
    background-color: black;
    text-decoration: none;
    /* font-weight: bold; */
    /* border-radius: 1px; */
    /* padding: 1px; */
}

#festival-body {
    /* font-size: 30px !important; */
    /* line-height: 1.1; */
    /* margin-bottom: 20px; */
}

#festival-body .nav-tabs {
    border: none;
    margin-top: 20px;
}

#festival-body .nav-tabs::before {
    content: "ROÄŚNĂŤKY:";
    /* background-color: red; */
    padding-top: 10px;
    padding-left: 7px;
    padding-right: 10px;
    font-weight: bold;
}

#festival-body .nav-link {
    font-size: 30px !important;
    text-decoration: underline;
}

#festival-body .nav-link.active {
    border-radius: 0px;
    /* border: 2px solid black; */
    background-color: black;
    color: white;
    text-decoration: none;
}

#festival-body .nav-link:hover {
    border-radius: 0px;
    text-decoration: none;
}

.festival-year-info {
    margin-top: 20px;
    margin-bottom: 15px;
    padding-left: 5px;
}

.festival-year-info img {
    /* padding-top: 3px; */
    /* padding-bottom: 3px; */
    width: 100%;
    min-width: 300px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#festival-body .card {
    border: none;
    border-right: 2px solid black;
    border-radius: 0px;
}

#festival-body .card-header {
    border: none;
    background-color: white;
    padding: 0px;
}

.festival-programming {
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

.eteaser {
    /* width: 50%; */
    border-radius: 0;
    border: 2px solid black;
    background-color: white;
    margin: 3px;
}

.eteaser img {
    width: 100%;
}

.eteaser-schedule {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 30px;
}

.eteaser-title {
    margin-top: 5px;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 4px;
    padding-right: 12px;
    padding-left: 12px;
}

.eteaser-title a {
    text-decoration: none;
    color: black;
}

.eteaser-genre {
    font-size: 26px;
    text-transform: uppercase;
    padding-left: 12px;
    padding-right: 12px;
}

/* MASONRY GRID */
.masonry-grid {
    /* center grid items */
    margin: 0 auto;
}

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-item {
    width: 260px;
    float: left;
}

@media screen and (max-width: 1199px) {
    #festival, #festival-years {
        min-width: 800px !important;
    }
}

@media screen and (max-width: 990px) {
    #festival, #festival-years {
        min-width: 0px !important;
        width: 95%;
    }

}

@media screen and (max-width: 765px) {
    #festival-title {
        color: black;
        text-shadow: none;
    }
}

.teaser-card * {
    text-transform: uppercase;
}

.teaser-card:hover {
    background-color:black;
    border-color: white !important;
}

.teaser-card:hover img {
    opacity: 0;
}

.card-img-top {
    opacity: 0.6;
    border-radius: 0px;
}

.card-img-top:hover {
    display:none;
}

.teaser-card {
    border-radius: 0px !important;
    border: 2px solid black !important;
}

.teaser-card a {
    color: black;
    text-decoration: none;
}

.teaser-footer {
    background-color: white;
    border-top: 2px solid black;
}

.teaser-footer .row {
    /* border-top: 2px solid black; */
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#year {
    text-align: center;
    color: white;
    text-shadow: -1.1px 1.1px 0 #000,
    1.1px 1.1px 0 #000,
    1.1px -1.1px 0 #000,
    -1.1px -1.1px 0 #000;
}

/* RESPONSIVE RULES */
@media screen and (max-width: 768px) {

}
